<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", { title: "All Fruits" }) %>
    <!-- Page title -->
    <title>All Fruits</title>
</head>
<body>
    <%- include("../partials/navbar") %>
    <!-- Main Heading -->
    <h1>All Fruits</h1>
    <!-- List of all fruits -->
    <ul>
        <% fruits.forEach(fruit => { %>  <!-- Loop through the fruits array passed from the server -->
          <li>
            <!-- Link to the Show page for each individual fruit -->
            <a href="/fruits/<%= fruit._id %>"> 
                <%= fruit.name %>  <!-- Display fruit name dynamically -->
            </a>
          </li> <!-- Closing li tag for each fruit -->
        <% }); %>  <!-- End of the loop -->
    </ul>
    <%- include("../partials/footer") %>
</body>
</html>